* {
  font-family: 'Orbitron', sans-serif;
}

::selection {
  background-color: #DC3545;
  color: white;
}

::-moz-selection {
  background-color: #DC3545;
  color: white;
}

a {
  text-decoration: none !important;
}

h6 {
  display: inline-block;
}

ul li a {
    color: #212429;
}

ul li a:hover {
    color: #212429;
}