* {
  font-family: 'Orbitron', sans-serif;
}

::selection {
  background-color: #DC3545;
  color: white;
}

::-moz-selection {
  background-color: #DC3545;
  color: white;
}

a {
  text-decoration: none !important;
}

h6 {
  display: inline-block;
}

ul li a {
    color: #212429;
}

ul li a:hover {
    color: #212429;
}

.dark-mode {
  background-color: #171717 !important;
  color: #ebebeb !important;
  border-color: #0e0e0e !important;
}

.btn-primary-dark {
  background-color: #094194 !important;
  border-color: #093983 !important;
}

.fa-moon {
  color: white;
}

.li-dark {
  background-color: #171717 !important;
  color: #ebebeb !important;
}